<!doctype html>
<html>

<head>
    <title>Even Odd Checker</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>

<body>
    <div class="navbar">
        <div class="nav-brand">
            <img src="{{ url_for('static', filename='images/logo.png') }}" width="150" />
            Even Odd Checker
        </div>
    </div>

    <div class="container">

        <div class="box">
            <h2>Even Odd Checker</h2>

            <form class="form" method="POST">
                <input class="input" type="number" name="number" placeholder="Enter number ..." required />
                <button class="btn" type="submit">Check</button>
            </form>

            <h3>{{ result }}</h3>
        </div>

    </div>
</body>

</html>